@*Cepada Morgan List View*@
@model SimListViewModel
@{
    ViewBag.Title = "Sim List";
}

<h1>SIM & Tabletop List</h1>
<div class="row">
    <div class="col-sm-2">
            <a asp-controller="Sim" 
                asp-action="List" 
                asp-route-id="All" 
                class="list-group-item @Model.CheckActiveCategory("All")">
                All
            </a>

            @foreach (Category c in Model.Categories)
            {

                    <a asp-controller="Sim" 
                     asp-action="List" 
                     asp-route-id="@c.Name" 
                     class="list-group-item @Model.CheckActiveCategory(c.Name)">
                        @c.Name
                    </a>
            }
    </div>

    <div class="col-sm-10">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Abstract</th>
                    <th>Details</th>
                    
            </thead>
            <tbody>
                @foreach (var sim in Model.Sims)
                {
                    <tr>
                        <td>@sim.Name</td>
                        <td>@sim.Abstract</td>
                        <td>
                            <a asp-controller="Sim" 
                               asp-action="Details"
                               asp-route-id="@sim.SimID"
                               asp-route-slug="@sim.Slug">View Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>